@import 'assets/scss/_variables.scss';
@import 'assets/scss/_responsive.scss';

h3,p {
  margin: 0
}

.education-item {
  box-sizing: border-box;
  border: none;
  max-width: 400px;
  padding: 0 30px 40px 30px;
  position: relative;
  white-space: pre-line;
  @include tablet {
    max-width: 250px;
  }

  .dot {
    position: absolute;
    background-color: $primary-color;
    margin: 0;
    padding: 0;
    height: 16px;
    width: 16px;
    top: 0;
    border-radius: 50%;
  }
}

.left {
  border-left: 1px solid $primary-color;
  text-align: left;

  .dot {
    left: -8.5px;
  }
}

.right {
  border-right: 1px solid $primary-color;
  transform: translateX(-389px);
  text-align: right;
  @include tablet {
    transform: translateX(-250px);
  }

  .dot {
    right: -8.5px;
  }
}