@import 'assets/scss/_variables.scss';
@import 'assets/scss/_responsive.scss';

.about-me {
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include mobile {
    flex-direction: column;
  }
  &__title {
    position: relative;
    img {
      position: absolute;
      height: auto;
      max-width: 300px;
      top: -100px;
      left: -100px;
      z-index: -5;
      @include mobile {
        display: none;
      }
    }
    h1 {
      z-index: 2;
      transform: translateX(80px);
      @include tablet {
        transform: translateX(0);
      }
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 75px;
        height: 4px;
        background-color: $primary-color;
        bottom: -10px;
        @include mobile {
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
  }
  &__description {
    flex-wrap: wrap;
    max-width: 40vw;
    text-align: left;
    @include tablet {
      max-width: 50vw;
      text-align: justify;
    }
    @include mobile {
      max-width: 65vw;
    }
    p {
      word-wrap: break-word;
    }
    .description-action {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      max-width: 325px;
      @include mobile {
        flex-direction: column;
        min-height: 15vh;
        max-width: 100%;
      }
    }
  }
}