@import 'assets/scss/_responsive';
@import 'assets/scss/_variables';

.item {
  padding: 16px;
  margin-bottom: 24px;
  border: 2px solid #E5EAFE;
  max-width: calc(100% / 4);
  min-width: calc(100% / 4);
  min-height: 500px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 0 15px 2px #D2F1FF;
  }

  @include tablet {
    max-width: 90%;
    min-width: 90%;
    min-height: 300px;
  }

  &__icon {
    margin-top: 20px;
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  &__description {
    word-break: break-word;
    white-space: pre-line;
    font-weight: 100;
    @include mobile {
      text-align: justify;
      padding-bottom: 0;
    }
  }

}