{
  "extends": ["eslint:recommended", "standard-react"],
  "globals": {},
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "import", "react-hooks"],
  "ignorePatterns": ["node_modules/", "src/index.js", "src/serviceWorker.js"],
  "rules": {
    "react/prop-types": ["error", { "ignore": ["navigation", "history"] }]
  },
  "settings": {
    "react": {
      "version": "latest" // "detect" automatically picks the version you have installed.
    }
  }
}
