@import 'assets/scss/_variables';

.portfolio {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    margin-top: 50px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 75px;
      height: 4px;
      background-color: $primary-color;
      bottom: -10px;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 200px;
    margin: 40px 0;
  }
}