@import 'assets/scss/_variables.scss';
@import 'assets/scss/_responsive.scss';

.active {
  color: $primary-color;
}

li {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  @include tablet {
    font-size: 22px;
    padding: 16px;
    text-align: left;
  }
}