@import 'assets/scss/_variables';
@import 'assets/scss/_responsive';

h1, p {
  margin: 0;
}

.header {
  background-color: $text-secondary-color;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mobile {
    flex-direction: column;
  }
  &__description {
    text-align: left;
    h1 {
      font-size: 3rem;
      margin-bottom: 10px;
      font-weight: bolder;
    }
    p {
      margin-bottom: 30px;
      white-space: pre-line;
    }
  }
}