@import 'assets/scss/_responsive.scss';
@import 'assets/scss/_variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 8vw;
  @include tablet {
    padding: 0 16px;
  }
  &__title {
    padding: 16px;
    margin-top: -6px;
  }
  
  &__items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 550px;
    padding: 16px;
    margin: 0;
    @include tablet {
      display: none;
    }
  }
  &__mobile {
    padding: 16px;
    
    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: #fff;
      z-index: 10;

      .icon {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      &__items {
        padding: 16px;
        list-style: none;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
      }
    }
  }
}