@import 'assets/scss/_variables.scss';

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/poppins.ttf');
}

.App {
  text-align: center;
  color: $text-primary-color;
  font-family: 'Poppins';
}

.section {
  padding: 16px;
}