@import 'assets/scss/_variables.scss';
@import 'assets/scss/_responsive.scss';

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/poppins.ttf');
}

.App {
  text-align: center;
  color: $text-primary-color;
  font-family: 'Poppins';
  @include mobile {
    font-size: 12px;
  }
}

.section {
  padding: 16px;
}